.onboarding-modal {
  font-family: Rawline;
}

.onboarding-modal {
  padding: 40px;
  margin: auto;
  margin-top: 0;
}

.onboarding-modal .title-area {
  display: inline-flex;
  width: 100%;
}

.onboarding-modal .jump-button {
  --background: none;
  color: var(--ion-color-modal-title);
  text-decoration: underline var(--ion-color-modal-title);
  --box-shadow: none;
  font-size: 14px;
  text-transform: none;
  margin-left: auto;
}

.onboarding-modal .modal-onboarding-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--ion-color-modal-title);
  margin: 0;
  align-self: center;
}

.onboarding-modal .modal-onboarding-body {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--ion-color-modal-body);
}

.onboarding-modal .icaro-preview {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.onboarding-modal .primary-modal-button {
  --background: var(--ion-color-modal-title);
  color: var(--ion-color-primary-contrast);
  height: 38px;
}

.onboarding-modal .goback-modal-button,
.onboarding-modal .goback-modal-button.ion-activated {
  --background: none;
  color: #4e4e4e;
  font-weight: 600;
  height: 38px;
  border: 1px solid #e0e0e0;
  border-radius: 24px;
  --box-shadow: 0;
}

.onboarding-modal .buttons-area .button {
  font-size: 14px;
  line-height: 14px;
  --border-radius: 24px;
  text-transform: none;
  margin: 0px 8px;
  letter-spacing: normal;
  --box-shadow: 0;
}

.onboarding-modal .buttons-area {
  display: flex;
  justify-content: center;
  --font-variant: normal;
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 100%;
}

.onboarding-modal .modal-description {
  height: 65px;
}

/* .container-icaro-gif img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
