.about-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  justify-content: flex-start;

  margin: 0;
}

.about-content {
  padding: 0 32px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.about-box-content {
  background-color: #d6e5f9;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  padding: 10px 10px 0 10px;
  /** Code to generate lines [MA] **/
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b5c7df' fill-opacity='0.43' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.about-box-text-suite {
  display: inline-block;
  font-family: Rawline;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  margin-right: 18px;

  color: black;
}

.about-box-text-vlibras {
  font-family: Rawline;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;

  color: #1447a6;
}

.about-content-text-vlibras {
  color: #4b4b4b;

  font-family: Rawline;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  padding: 41px 0;
  width: 100%;
}

.about-container-characters {
  margin-right: 10px;
}

.about-container-realizadores {
  width: 100%;

  font-family: Rawline;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 125%;

  margin-bottom: 8px;

  --color: #000000;
}

.about-image-realizadores {
  width: 100%;
  object-fit: cover;
  max-width: 512px;
}

.about-container-realizadores-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}

.about-container-redes-sociais {
  width: 100%;

  font-family: Rawline;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 125%;
  margin-top: 40px;
  /* identical to box height, or 17px */

  --color: #000000;
}

.about-container-redes-sociais-footer {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 16px;
  gap: 14px;
  flex-wrap: wrap;
}

.logo-camara-deputados {
  width: 120px;
  height: 35px;

  mix-blend-mode: normal;
}

.logo-lavid {
  width: 56px;
  height: 35px;

  mix-blend-mode: normal;
}

.logo-ufpb {
  width: 21px;
  height: 35px;

  mix-blend-mode: normal;
}

.logo-rnp {
  width: 68px;
  height: 35px;

  mix-blend-mode: normal;
}

.text-redes-sociais {
  width: 91px;
  height: 18px;

  font-family: Rawline;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 125%;
  /* identical to box height, or 17px */

  --color: #000000;
}

.about-image-social-media {
  margin-right: 14px;
}