.evaluation-modal {
  background: var(--ion-color-grey-65);
  font-family: Rawline;
}

.evaluation-modal .modal-wrapper {
  border-radius: 8px;
  height: 147px;
  width: 283px;
}

.evaluation-modal .ion-page {
  padding: 16px 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.evaluation-modal .modal-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000;
  margin: 0 !important;
  /* margin: -45px 0px 0px 0px; */
  /*margin: 2px 0px -15px 0px;*/
}

.evaluation-modal .modal-desc {
  color: var(--ion-color-modal-body);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.evaluation-modal-container-close-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 8px;
}

.evaluation-modal-container-close-button-container button {
  border: none;
  background: none;
}

.evaluation-modal .ion-page{
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.evaluation-modal-container-rating-chips{
  display: flex;
  flex:1;
  flex-direction: row;
  /* margin-top: 15px; */
  margin-top: 16px;
  background: transparent;
  border: none;
}

.evaluation-modal-container-rating-chips-yes{
  font-family: Rawline;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  display: flex;

  color: #4E4E4E;
  background: #FFFFFF;
  border: 1px solid #e0e0e0;

}
.evaluation-modal-container-rating-chips-no{
  font-family: Rawline;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  display: flex;
  flex: 1;
  justify-content: space-between;

  color: #4E4E4E;
  background: #FFFFFF;
  border: 1px solid #e0e0e0;

}
.thumbs-color{
  color: black;
  /*fill="#4E4E4E"*/
}
.evaluation-modal-container-rating-chips-texts{
  margin-left: 6px;
}
