.menu-toolbar-title {
  font-family: Rawline;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  color: #1447a6;
}

.menu-icon-drawer {
  color: #1447a6;
}

.menu-icon-share {
  width: 18px;
  height: 18px;
  color: #4b4b4b;
}

.menu-container-end {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-right: 16px;
}

.menu-item-text {
  font-family: Rawline;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 125%;
  color: #969696;
  margin-right: 8px;
}
