.tutorial-popover-container {
  background: #0D459D;
  box-shadow: 0px 15px 24px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 250px;
  height: max-content;
  position: relative;
  margin-right: 50px;

}

.tutorial-row {
  display: flex;
  margin-bottom: 5px;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.tutorial-left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
  flex: 1;
}

.tutorial-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  flex: 1;
}

.tutorial-popover-container button {
  border: none;
  background: none;
}

.tutorial-popover-container h1 {
  font-family: Rawline;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  /* identical to box height, or 17px */

  display: flex;
  align-items: center;
  text-align: center;
  color: var(--VLibras---Light-White-1, #FDFDFD);
  margin: 0;
}

.tutorial-popover-container  h2 {
  font-family: Rawline;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: normal;
  text-align: justify;
  margin-top: 10px;
  /* identical to box height, or 18px */

  display: flex;
  align-items: center;
  margin: 0;
  color: var(--VLibras---Light-White-1, #FDFDFD);
}

.tutorial-popover-container span {
  font-family: Rawline;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: normal;
  /* identical to box height, or 12px */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.tutorial-popover-container hr{
  border-top: 1px solid #8f8f8f;
  width: 100% ; /* Leva em consideração o padding de 12px do pai */
}

.tutorial-popover-container .button-outlined-tutorial {

  padding: 7.5px 20px 9.5px 20px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: fit-content;
  width: fit-content;
  color: var(--VLibras---Light-Blue-1, #ffffff);
  border: 1px solid var(--VLibras---Light-White-3, #F7F9FB);
  text-align: center;
  font-family: Rawline;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.tutorial-popover-container .button-solid-tutorial {
  padding: 7.5px 20px 9.5px 20px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  height: fit-content;
  width: fit-content;
  color: var(--VLibras---Light-Blue-1, #0D459D);
  text-align: center;
  font-family: Rawline;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 7px;
}

.container__arrow {
  /* Size */
  height: 8px;
  width: 8px;

  background-color: #0D459D;
  position: absolute;
}

.container__arrow--tl {
  /* Position at the top left corner */
  left: 16px;
  top: 0px;

  /* Border */
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  transform: translate(50%, -50%) rotate(45deg);
}

.container__arrow--tc {
  /* Position at the top center */
  left: 50%;
  top: 0px;

  /* Border */
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%) rotate(45deg);
}

.container__arrow--tr {
  /* Position at the top right corner */
  right: 32px;
  top: 0px;

  /* Border */
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%) rotate(45deg);
}

.container__arrow--rt {
  /* Position at the right top corner */
  right: 0;
  top: 32px;

  /* Border */
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  transform: translate(50%, 50%) rotate(45deg);
}

.container__arrow--rc {
  /* Position at the right center */
  right: 0;
  top: 50%;

  /* Border */
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  transform: translate(50%, -50%) rotate(45deg);
}

.container__arrow--rb {
  /* Position at the right bottom corner */
  bottom: 32px;
  right: 0;

  /* Border */
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  transform: translate(50%, -50%) rotate(45deg);
}

.container__arrow--bl {
  /* Position at the bottom left corner */
  bottom: -8px;
  left: 16px;

  /* Border */
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  transform: translate(50%, -50%) rotate(45deg);
}

.container__arrow--bc {
  /* Position at the bottom center */
  bottom: -8px;
  left: 50%;

  /* Border */
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%) rotate(45deg);
}

.container__arrow--br {
  /* Position at the bottom right corner */
  bottom: -8px;
  right: 16px;

  /* Border */
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%) rotate(45deg);
}

.container__arrow--lt {
  /* Position at the left top corner */
  left: 0;
  top: 32px;

  /* Border */
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  transform: translate(-50%, 50%) rotate(45deg);
}

.container__arrow--lc {
  /* Position at the left center */
  left: 0;
  top: 50%;

  /* Border */
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%) rotate(45deg);
}

.container__arrow--lb {
  /* Position at the left bottom corner */
  bottom: 32px;
  left: 0;

  /* Border */
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%) rotate(45deg);
}
