.error-modal {
  background: var(--ion-color-grey-65);
  font-family: Rawline;
}

.error-modal .modal-wrapper {
  border-radius: 8px;
  height: 180px;
  width: 200px;
  margin: 0px 70px;
}

.error-modal .ion-page {
  padding: 16px 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.error-modal .modal-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 5px 0px -15px 0px;
}

.error-modal .modal-desc {
  color: var(--ion-color-modal-body);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.error-modal .loading {
  width: 50px;
  height: 50px;
}
